    body {
      background: #f8f9fa;
    }
    .completed label {
      text-decoration: line-through;
      opacity: 0.6;
    }
    .sortable-chosen {
      background: #e9ecef !important;
    }
    /* card of edit task ! */
    #task_card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    width: 600px;
    max-width: 95%;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    padding: 30px;
    z-index: 9999;
    display: none;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    }

    #task_card.show {
    display: block;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    }

    #task_card h5 {
    margin-bottom: 25px;
    font-weight: bold;
    text-align: center;
    }

    #task_card form > div {
    margin-bottom: 15px;
    }

